
# Dependency directories
node_modules/*

# Local configuration
config/local.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional IDE stuff
.idea/*

#DS_Store
.DS_Store

package-lock.json