<!DOCTYPE html>
<html lang="${locale.__('lang')}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/twentytwenty.css">

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.event.move.js"></script>
  <script src="js/jquery.twentytwenty.js"></script>
  <script src="js/main.js"></script>
  <title>${locale.__('title')}</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img id="logo" alt="Brand" src="img/logo.png">
          <p>${locale.__('title').toUpperCase()}</p>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="toscroll" href="#technology">${locale.__('menu_technology')}</a></li>
          <li><a class="toscroll" href="#services">${locale.__('menu_services')}</a></li>
          <li><a class="toscroll" href="#about">${locale.__('menu_about')}</a></li>
          <li><a class="toscroll" href="#projects">${locale.__('menu_projects')}</a></li>
          <li><a class="toscroll" href="#contact">${locale.__('menu_contact')}</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Carousel -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="img/1.jpg" alt="s1" style="image-orientation: from-image;">
        <div class="carousel-caption">
          <h1>${locale.__('slide_1_heading')}</h1>
          <p>${locale.__('slide_1_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/2.jpg" alt="s2">
        <div class="carousel-caption">
          <h1>${locale.__('slide_2_heading')}</h1>
          <p>${locale.__('slide_2_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/3.jpg" alt="s3">
        <div class="carousel-caption">
          <h1>${locale.__('slide_3_heading')}</h1>
          <p>${locale.__('slide_3_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/4.jpg" alt="s4">
        <div class="carousel-caption">
          <h1>${locale.__('slide_4_heading')}</h1>
          <p>${locale.__('slide_4_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/5.jpg" alt="s5">
        <div class="carousel-caption">
          <h1>${locale.__('slide_5_heading')}</h1>
          <p>${locale.__('slide_5_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/6.jpg" alt="s6">
        <div class="carousel-caption">
          <h1>${locale.__('slide_6_heading')}</h1>
          <p>${locale.__('slide_6_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/7.jpg" alt="s7">
        <div class="carousel-caption">
          <h1>${locale.__('slide_7_heading')}</h1>
          <p>${locale.__('slide_7_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/8.jpg" alt="s8">
        <div class="carousel-caption">
          <h1>${locale.__('slide_8_heading')}</h1>
          <p>${locale.__('slide_8_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/9.jpg" alt="s9">
        <div class="carousel-caption">
          <h1>${locale.__('slide_9_heading')}</h1>
          <p>${locale.__('slide_9_text')}</p>
        </div>
      </div>

      <div class="item">
        <img src="img/10.jpg" alt="s10">
        <div class="carousel-caption">
          <h1>${locale.__('slide_10_heading')}</h1>
          <p>${locale.__('slide_10_text')}</p>
        </div>
      </div>

      <!-- Center button (Read more)-->
      <a id="centerButton" class="center-button toscroll" href="#technology">
        LEARN MORE<br>↓<span id="shadow"></span>
      </a>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">${locale.__('slide_previous')}</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">${locale.__('slide_next')}</span>
      </a>
    </div>
  </div>

  <!-- Container (Technology Section) -->
  <div id="technology" class="container-fluid bg-grey content">
    <div class="row">
      <div class="col-lg-9">
        <h2 class="heading">${locale.__('menu_technology')}</h2>
        <p>${locale.__('section_technology_paragraph_1')}</p>
        <p>${locale.__('section_technology_paragraph_2')}</p>
        <p>${locale.__('section_technology_paragraph_3')}</p>
        <p>${locale.__('section_technology_paragraph_4')}</p>
        <p>${locale.__('section_technology_paragraph_5')}</p>
        <br>
      </div>
      <div class="col-lg-3 side-picture side-picture-right">
        <img src="img/tech.png" alt="">
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid bg-grey content">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h2 class="heading">${locale.__('menu_services')}</h2>
          <p><span class="glyphicon glyphicon-ok-sign"></span>  ${locale.__('section_services_paragraph_1')}</p>
          <p><span class="glyphicon glyphicon-ok-sign"></span>  ${locale.__('section_services_paragraph_2')}</p>
          <p><span class="glyphicon glyphicon-ok-sign"></span>  ${locale.__('section_services_paragraph_3')}</p>
          <p><span class="glyphicon glyphicon-ok-sign"></span>  ${locale.__('section_services_paragraph_4')}</p>
          <br>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid bg-grey content">
    <div class="row">
      <div class="col-sm-9 pull-right">
        <h2 class="heading">${locale.__('menu_about')}</h2>
        <p>${locale.__('section_about_paragraph_1')}</p>
        <p>${locale.__('section_about_paragraph_2')}</p>
        <p>${locale.__('section_about_paragraph_3')}</p>
        <p>${locale.__('section_about_paragraph_4')}</p>
        <p>${locale.__('section_about_paragraph_5')}</p>
        <br>
      </div>
      <div class="col-sm-3 side-picture side-picture-left pull-left">
        <img src="img/about.png" alt="">
      </div>
    </div>
  </div>

  <!-- Container (Projects Section) -->
  <div id="projects" class="container-fluid bg-grey content">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h2 class="heading">${locale.__('menu_projects')}</h2>

        <div class="row comp">
          <p>${locale.__('section_projects_paragraph_1')}</p>
          <img class="img-thumbnail" src="img/11.jpg">
          <img class="img-thumbnail" src="img/12.jpg">
        </div>
        <div class="row comp">
          <p>${locale.__('section_projects_paragraph_2')}</p>
          <img class="img-thumbnail" src="img/21.jpg">
          <img class="img-thumbnail" src="img/22.jpg">
        </div>
        <div class="row comp">
          <p>${locale.__('section_projects_paragraph_3')}</p>
          <img class="img-thumbnail" src="img/31.jpg">
          <img class="img-thumbnail" src="img/32.jpg">
        </div>
        <div class="row comp">
          <p>${locale.__('section_projects_paragraph_4')}</p>
          <div class="comp-container twentytwenty-container">
            <img src="img/41.jpg">
            <img src="img/42.jpg">
          </div>
        </div>
        <div class="row comp">
          <p>${locale.__('section_projects_paragraph_5')}</p>
          <div class="comp-container twentytwenty-container">
            <img src="img/51.jpg">
            <img src="img/52.jpg">
          </div>
          <div class="comp-container twentytwenty-container">
            <img src="img/61.jpg">
            <img src="img/62.jpg">
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey content d-flex align-items-center">
    <div id="alerts" class="messages alerting"></div>
    <form id="contact-form">
      <h2 class="heading">${locale.__('menu_contact')}</h2>
      <div class="row">
        <div class="col-sm-5">
          <p><span class="glyphicon glyphicon-home"></span>
              ${locale.__('section_contact_company')}</p>
          <p><span class="glyphicon glyphicon-map-marker"></span>
              ${locale.__('section_contact_address')}</p>
          <p><a href="mailto:mail?"><span class="glyphicon glyphicon-envelope"></span>
              ${locale.__('section_contact_email')}</a></p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="form-group col-sm-12 message-area pull-left">
              <textarea class="form-control" id="message" name="message"
                placeholder="${locale.__('section_contact_placeholder_message')}" rows="5" required></textarea><br>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-9">
              <input class="form-control" id="email" name="email"
                placeholder="${locale.__('section_contact_placeholder_email')}" type="email" required>
            </div>
            <div class="form-group col-sm-3 pull-right">
              <button class="btn btn-default btn-send pull-right"
                type="submit">${locale.__('section_contact_send')}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
  </div>
</body>
</html>