/* 
PrimariColor: #689f38;
LightColor: #99d066;
DarkColor: #387002; 
*/

/*Buttons*/
a:active {
    transition-duration: 2s;
}

/*Navbar*/
.navbar {
    display: inline;
    border: 0;
    opacity: 0.8;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 5px;
}
.navbar-brand {
    padding: 0 !important;
    display: flex;
}
.navbar-brand  img {
    height: 100% !important;
}
.navbar-brand  p {
    padding: 15px !important;
}
.navbar-nav li a:hover {
    color: #689f38 !important;
}
.navbar-header a {
    color: #689f38 !important;
}
.navbar-header p {
    letter-spacing: 3px !important;
    vertical-align: middle;
}
@media only screen and (max-width: 380px) {
    /* For mobile phones: */
    .navbar-header p {
        letter-spacing: 1px !important;
        vertical-align: middle;
    }
}
.navbar-header a:hover {
    text-decoration: none;
    cursor: default;
}

/*Center button*/
.center-button {
    color: #689f38;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    max-height: 60px;
    height: 100px;
    width: 100%;
    z-index: 10;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-name: jumper;
    animation-timing-function: ease-in-out;
}
.center-button:hover, .center-button:focus, .center-button:visited, .center-button:active {
    color: #689f38 !important;
    opacity: 1 !important;
    text-decoration: none !important;
}
@media only screen and (max-width: 380px) {
    /* For mobile phones: */
    center-button {
        font-size: 18px !important;
    }
}
@-webkit-keyframes jumper /* Safari and Chrome */ {
    0%, 100% {
        -webkit-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
      }
      50% {
        -webkit-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
      }
}
@keyframes jumper {
  0%, 100% {
    -ms-transform: translatey(0);
    -moz-transform: translatey(0);
    -webkit-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
  50% {
    -ms-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -o-transform: translatey(-10px);
    transform: translatey(-10px);
  }
}

/*Carousel*/
.carousel-inner {
    border-top: 1px solid #99d066 !important;
}
.carousel-caption {
    margin-bottom: 25%;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 8px;
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .carousel-indicators {
        margin-bottom: 5% !important;
    }
}

/* Content sections */
.content {
    width: 70%;
}
.heading {
    margin-top: 100px;
    margin-bottom: 50px;
}
@media only screen and (min-width: 992px) {
    .side-picture {
        padding-top: 10%;
    }
}
.side-picture img {
    width: 100%;
}

/*Contact*/
#contact {
    width: 60%;
}
.glyphicon {
    color: #689f38;
}
#email {
    width: 250px;
}
.text-center {
    letter-spacing: 5px;
    text-decoration-color: #689f38;
    color: #99d066;
}
.btn-send .btn-send:visited{
    letter-spacing: 1px;
    border: 1px solid #99d066 !important;
    color: #387002;
}
.btn-send:hover {
    background-color: #689f38 !important;
    color: white !important;
    
}
.alerting {
	margin-top: 10px;
}

/*Full screen*/
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}